.overlay {
  @apply absolute inset-0;
}

.bg-corner-light-mobi-blue {
  background: radial-gradient(
    100% 100% at 100% 0%,
    rgba(0, 149, 255, 0.3) 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.bg-corner-mobi-blue {
  background: linear-gradient(
    212.74deg,
    #4ca3e1 0.81%,
    rgba(76, 163, 225, 0) 100.48%
  );
}

.bg-corner-blurple {
  background: linear-gradient(
    177.9deg,
    #3d65cb 18.98%,
    rgba(61, 101, 203, 0) 98.27%
  );
}
.border-blurple {
  @apply border-2 border-secondary;
}

.border-mobi-blue {
  @apply border-2 border-primary;
}
