<footer class="mx-8">
    <div>
        {{ partial "branding/logo-hybrid.html" . }}
    </div>
    <div class="footer">
        <article>
            <span class=" footer-title">Links</span>
            <ul>
                <li><a href="#signup">Sign Up</a></li>
                <li><a href="#about">About Us</a></li>
            </ul>
        </article>
        <article>
            <span class="footer-title">Contact</span>
            <address>
                500 UTA Blvd, Room 437,<br /> Arlington, TX 76010
            </address>
            <a href="mailto:uta.mobi@gmail.com">uta.mobi@gmail.com</a>
        </article>
    </div>
    <span>&copy; 2021</span>
</footer>