{{ define "main" }}
<main class="mx-8 xs sm:mx-28 lg:mx-36 2xl:mx-96">
    <section class="relative mb-ssection">
        {{/* Foreground */}}
        <div class="relative z-10">
            {{ partial "header/navigation.html" . }}
            <div class="">
                <div>
                    <h1 class="text-5xl mb-8"> {{ $.Params.heroHead | safeHTML }} </h1>
                    <p class="mb-8 max-w-xs">{{ $.Params.heroDescription }}</p>
                </div>
                <form id="signup" class="px-6 py-8 bg-white rounded-box max-w-md" action="">
                    <div class=" form-control mb-6">
                        <label class="label"><span class="label-text">First name</span></label>
                        <input type="text" name="fname" id="" class="input input-bordered">
                    </div>
                    <div class="form-control mb-6">
                        <label class="label"><span class="label-text">Last name</span></label>
                        <input type="text" name="lname" id="" class="input input-bordered">
                    </div>
                    <div class="form-control mb-6">
                        <label class="label">Email name</label>
                        <input type="email" name="email" id="" class="input input-bordered">
                    </div>
                    <button type="button" class="btn btn-primary btn-block">Sign up</button>
                </form>
            </div>
        </div>
        <div class="overlay bg-corner-mobi-blue -inset-x-8 -top-8 z-0 sm:-inset-x-28 lg:-inset-x-36 2xl:-inset-x-96">
        </div>
    </section>
    <section class="mb-ssection">
        <h2>Register for our Next Meetup</h2>
        <div>
            <article class="upnext-container">
                <h3 class="body lh--shrink">Compiling Code Interviews with Andy</h3>
                <time class="caption">9-26-2021</time>
            </article>
        </div>
        <a class="link link-neutral link-hover">Previous ←</a>
    </section>
    <section id="about"
        class="mb-ssection py-12 -mx-8 sm:-mx-28 lg:-mx-36 2xl:-mx-96 px-8 sm:px-28 lg:px-36 2xl:px-96 bg-corner-blurple text-accent-content">
        <div class="mb-8 max-w-prose xl:max-w-none">
            <h2>We Know the Software Grind</h2>
            <div class="x-w-prose xl:grid xl:grid-cols-3 xl:gap-6">
                <p>With 12 years of combined experienced, Mobi has a lot to share for folks in the grind. Trust us, we
                    know
                    how
                    confusing and hard learning software devolpment is!</p>
                <p>That’s why Mobi is here, so y’all can have a place to come to grow as a dev, but also relax and
                    chill.
                    Mobi
                    is an awesome place to talk about whatever’s got your developer spirit going!</p>
                <p class="mb-8">We’re an org that’s proud to be involved with software, trying to cook up software as
                    much
                    as
                    possible.</p>
            </div>
        </div>
        <div class="relative mx-auto">
            <img src="about.jpg" class="relative z-10 w-11/12 h-64 max-w-md lg:max-w-4xl lg:h-auto object-cover" />
            <div
                class="bg-corner-blurple border-blurple rounded-box absolute right-0 top-4 sm:right-auto sm:left-8 h-full w-11/12 sm:max-w-md lg:max-w-4xl lg:top-12 lg:left-16 z-0" />
        </div>
    </section>
    <section class="mb-ssection">
        <h2 class="text-center mb-4">Want to Get Involved?</h2>
        <div class="flex justify-center"><a class="btn btn-primary" href="#signup">Sign up</a></div>
    </section>
</main>
{{ partial "footer/footer.html" . }}
{{ end }}